*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/openvpn3
app/libs/
app/ovpnlibs/
app/obj/
.navigation
google-breakpad/
ovpn3/boost
polarssl
proguard-project.txt
build.xml
cache.properties
